/* fuente -> font-family: 'Lato', sans-serif;  
 * color -> #518b25 (verde) */

/*** ESPACIOS ***/
.espacio-sm{
    height: 20px;
}
.espacio-md{
    height: 50px;
}
.espacio-lg{
    height: 100px;
}
/*** HEADER ***/
header{
    /*background-image:url(/img/cropped-agro-2.jpeg);
    background-size: 100%;*/
    padding: 2em 0 2em 0;    
}
#cont-header{
    background-color: rgba(255,255,255,0.25);
}
#logo-escuela{
    width: 10em;
}
#logo-fundacion{
    width:10em;
    margin-top:1em;
}
#titulo-header{
    color:#336C07;
    margin-top:1em;
    font-size:3em;
    font-weight: bold;
}

/*** MENU NAVBAR ***/
#nav-logo img{
    height: 6em;
    margin:0;
    display:none;
}
#navbarNav li{
    height:3em;
    margin: 0 1em 0 1em;
    font-weight: 700;
}
.nav-link{
    height: 100%;
}
@media(min-width:992px){
    .nav-item:hover .dropdown-menu{
        display:block;
    }
}